﻿@{
    ViewBag.Title = "IMC Aleatorio";
}
<!DOCTYPE html>
<html>
<head>
    <title>IMC Aleatorio</title>
    <meta charset="utf-8" />
    <!--Esto es un comentario-->
    <!--en el head se coloca información que es para el navegador, scripts, css-->
</head>
<body>
    <!--aqui inicia el cuerpo de la pagina que se esta creando (la vista)-->
    <h1>Resultado</h1>

    <div class="seccion_1" id="s1">
        <ul>
            <li>IMC menor que 18.5 -> Peso insuficiente </li>
            <li>IMC 18.5 y 24.9 -> Peso normal</li>
            <li>IMC mayor que 25 -> Sobrepeso</li>
        </ul>
        <hr />
    </div>

    <div class="seccion_2" id="s2">
        <a href="~/Home" class="btn btn-info">Home</a>
        <hr />
    </div>
    <table class="table">
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Peso</th>
            <th>Estatura</th>
            <th>IMC</th>
        </tr>
            @{ for (int i = 0; i < 30; i++)
                {
                    <tr>
                        <td>@ViewBag.vectorPersona[i].Id</td>
                        <td>@ViewBag.vectorPersona[i].Nombre</td>
                        <td>@ViewBag.vectorPersona[i].Peso</td>
                        <td>@ViewBag.vectorPersona[i].Estatura</td>
                        @if(@ViewBag.IMC[i] < 18.5 || ViewBag.IMC[i] > 25){
                         <td class = "text-danger"> @ViewBag.IMC[i] </td>
                         }
                         else{ 
                         <td class ="text-success"> @ViewBag.IMC[i]</td>
                         }
                        


                    </tr>
                };
            }

    </table>
</body>
</html>

