﻿<h1>Página de contacto de la rama nueva</h1>

<p>

    Ahora tendrá un ocntenido muy diferente al que tiene la rama Master...
</p>
<h4> Este cambio esta solo en el master y lo quiero mantener en la version final, lo demas no ...</h4>
<p>

    @for (int i = 1; i <= 10; ++i) { 
        <h4>Soy el número: <strong>@i</strong></h4>
    }

</p>