﻿
@{
    ViewBag.Title = "Planetas";
}
<!DOCTYPE html>
<html>
<head>
    <title>Listado Planetas</title>
    <meta charset="utf-8" />
    <!--Esto es un comentario-->
    <!--en el head se coloca información que es para el navegador, scripts, css-->
</head>
<body>
    <!--aqui inicia el cuerpo de la pagina que se esta creando (la vista)-->
    <h1>Listado de Planetas</h1>

    <div class="seccion_2" id="s2">
        <a href="~/Home" class="btn btn-info">Home</a>
        <hr />
    </div>

        @{ for(int i = 0; i < 8; i++)
            {
            <div>
                        <tr>
                            <h3><strong>Ficha del planeta
                            <td>@ViewBag.planetas[i].id</td></strong></h3>

                            <p> Nombre: @ViewBag.planetas[i].nombre</p>
                            <p>Tipo: @ViewBag.planetas[i].tipo</p>
                            <p>Numero Anillos: @ViewBag.planetas[i].numeroAnillos</p>

                        </tr>
            </div>
            };
        }



</body>
</html>

